<div class="item-container">
  <div class="list-item-table pos-items-wrapper">
    <div class="pos-items image-view-container">
      
      {% if not cart %}
      <p>{{ _("No items in cart.") }}</p>
      {% endif %}

      <!------- START ITEM -------->
      {% for item_code, qty in cart.items() %}
      <div class="pos-item-wrapper image-view-item">
        <div class="image-view-header">
          <div>
            <span class="grey list-id">
              {{ items[item_code].item_name }}
            </span>
            <span class="badge badge-pill bg-warning text-light">
              {{ qty }}
            </span>
          </div>
        </div>
        <div>
          {% if items[item_code].thumbnail %}
          <img class="img-responsive" src="{{ items[item_code].thumbnail }}"
            alt="{{ items[item_code].item_name }}">
          {% endif %}
          <span class="price-info">
            {{ items[item_code].standard_rate }}
          </span>
        </div>
      </div>
      {% endfor %}
      <!------- END ITEM -------->

    </div>
  </div>
</div>
